# Diamond Practice Project

I already did the diamond project on alteryx and now I want to do it again in Python to learn some new features of the statistics and number packages.

What I found fascinating in alteryx is the tool's ability to recognise nominal data and introduce dummy variables for it directly. Back in the last project I extended the excel data file myself and added dummies. You know what? Pandas can do it for us!

In [3]:
# a reference to the pandas library
import pandas as pd

# To visualize the data
import matplotlib.pyplot as plt  

# This is new. Let's try a library which does 
# the linear regression for us
import statsmodels.api as sm

from sklearn import linear_model
from sklearn.linear_model import LinearRegression

# To visualize the data
import matplotlib.pyplot as plt  

# the excel file must be in the same directory as this notebook
# be sure to use the right excel data file.
# This one is the diamonds csv file for building the model
diamond_file= 'diamonds.csv'

# via pandas, the contents ae read into a variable or data frame named data
# pandas is able not to only read excel, but does a great job on csv, too.
diamond_data = pd.read_csv(diamond_file)

# Up to now, I used print to show the data 
print(diamond_data)

# now I know I can show the data by typing the variable name
# and the output is a lot nicer than with "print"
diamond_data

       Unnamed: 0  carat        cut  cut_ord color clarity  clarity_ord  price
0               1   0.51    Premium        4     F     VS1            4   1749
1               2   2.25       Fair        1     G      I1            1   7069
2               3   0.70  Very Good        3     E     VS2            5   2757
3               4   0.47       Good        2     F     VS1            4   1243
4               5   0.30      Ideal        5     G    VVS1            7    789
...           ...    ...        ...      ...   ...     ...          ...    ...
49995       49996   0.71      Ideal        5     H    VVS1            7   2918
49996       49997   0.43      Ideal        5     G    VVS2            6   1056
49997       49998   1.14    Premium        4     G     VS2            5   6619
49998       49999   1.01    Premium        4     E     VS2            5   6787
49999       50000   1.77    Premium        4     J     VS2            5   9428

[50000 rows x 8 columns]

       Unnamed: 0  carat        cut  cut_ord color clarity  clarity_ord  price
0               1   0.51    Premium        4     F     VS1            4   1749
1               2   2.25       Fair        1     G      I1            1   7069
2               3   0.70  Very Good        3     E     VS2            5   2757
3               4   0.47       Good        2     F     VS1            4   1243
4               5   0.30      Ideal        5     G    VVS1            7    789
...           ...    ...        ...      ...   ...     ...          ...    ...
49995       49996   0.71      Ideal        5     H    VVS1            7   2918
49996       49997   0.43      Ideal        5     G    VVS2            6   1056
49997       49998   1.14    Premium        4     G     VS2            5   6619
49998       49999   1.01    Premium        4     E     VS2            5   6787
49999       50000   1.77    Premium        4     J     VS2            5   9428

[50000 rows x 8 columns]

At least column "cut" in the dataset is a nominal column. In the example before I used Excel to enrich the data file. Now pandas can do the job for us. May I introduce the get_dummies() function:

In [71]:
# get the column cut from the diamond_data data frame
# and generate dummy values for it
# save the dummy values in enriched_nominal_data
enriched_nominal_data = pd.get_dummies(diamond_data['cut'])

enriched_nominal_data

       Fair  Good  Ideal  Premium  Very Good
0         0     0      0        1          0
1         1     0      0        0          0
2         0     0      0        0          1
3         0     1      0        0          0
4         0     0      1        0          0
...     ...   ...    ...      ...        ...
49995     0     0      1        0          0
49996     0     0      1        0          0
49997     0     0      0        1          0
49998     0     0      0        1          0
49999     0     0      0        1          0

[50000 rows x 5 columns]

So far, so good. Now we have a data frame containing the dummy values. But... how can we combine the dummy values with the diamond_data? Very simple. The data frame has a function called join() to join data sets. This should be no problem for us as both datasets have the same amount of rows.

In [5]:
diamond_data = diamond_data.join(enriched_nominal_data)

diamond_data

,Unnamed: 0,carat,cut,cut_ord,color,clarity,clarity_ord,price,Fair,Good,Ideal,Premium,Very Good
0,1,0.51,Premium,4,F,VS1,4,1749,0,0,0,1,0
1,2,2.25,Fair,1,G,I1,1,7069,1,0,0,0,0
2,3,0.70,Very Good,3,E,VS2,5,2757,0,0,0,0,1
3,4,0.47,Good,2,F,VS1,4,1243,0,1,0,0,0
4,5,0.30,Ideal,5,G,VVS1,7,789,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,0.71,Ideal,5,H,VVS1,7,2918,0,0,1,0,0
49996,49997,0.43,Ideal,5,G,VVS2,6,1056,0,0,1,0,0
49997,49998,1.14,Premium,4,G,VS2,5,6619,0,0,0,1,0
49998,49999,1.01,Premium,4,E,VS2,5,6787,0,0,0,1,0
49999,50000,1.77,Premium,4,J,VS2,5,9428,0,0,0,1,0

Now we have almost everything we need for the diamond project. Let's get started!

In [20]:
# the excel file must be in the same directory as this notebook
# be sure to use the right excel data file.
# This one is the diamonds csv file for building the model
diamond_file= 'diamonds.csv'
diamond_data = pd.read_csv(diamond_file)

# create dummy variables for the nomimal values of color, clarity and cut.
# drop the first column of each of the dummy variables. 
# You remember, we need one column less
enriched_nominal_data = pd.get_dummies(diamond_data, columns=['color','clarity','cut'], drop_first=True)

# We want to calculate the price of the new diamonds to make a bid, so this is our dependent variable 
# and has to be put on the Y-Axis
Y = enriched_nominal_data['price']

# this is another nice feature of pandas. we simply drop the columns we do not need anymore...
enriched_nominal_data = enriched_nominal_data.drop(['cut_ord', 'clarity_ord', 'price'], axis=1)

# ...and assign the values to X
X = enriched_nominal_data

# let's to the evaluation with statsmodels
# we have to add a constant to the calculation or
# we do not have a Y-intercept
X = sm.add_constant(X)

# build the model
model = sm.OLS(Y,X).fit()
model_prediction = model.predict(X)
model_details = model.summary()

# let's print the results, so we can compare to alteryx
print(model_details)

# Now we have a working model, we can use the data from
# new-diamonds to test the model and to make a prediction
diamond_test_file = "new-diamonds.csv"
diamond_test_data = pd.read_csv(diamond_test_file)

# see above
enriched_nominal_test_data = pd.get_dummies(diamond_test_data, columns=['color','clarity','cut'], drop_first=True)
enriched_nominal_test_data = enriched_nominal_test_data.drop(['cut_ord', 'clarity_ord'], axis=1)

# assign to X
X_test = enriched_nominal_test_data
# add a constant
X_test = sm.add_constant(X_test)

# and make a prediction with the test data
model_prediction_test = model.predict(X_test)

print("")
print("")
# calculate the bid
print("The bid should be:",'${:,.2f}'.format(sum(model_prediction_test)*0.7))
# how far are we from the alteryx solution
print("Our solution is:",format(sum(model_prediction_test)*0.7/8230695.69*100,'.2f'),"% correct to the alteryx solution.")
print("We have a deviation of ", (1-sum(model_prediction_test)*0.7/8230695.69)*100,"%")

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.916
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                 2.878e+04
Date:                Wed, 06 Jan 2021   Prob (F-statistic):               0.00
Time:                        10:07:49   Log-Likelihood:            -4.2360e+05
No. Observations:               50000   AIC:                         8.472e+05
Df Residuals:                   49980   BIC:                         8.474e+05
Df Model:                          19
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -7386.2909     54.366   -135.863      0.000   -7492.848   -7279.734
Unnamed: 0        0.0002      0.000      0.433      0.665      -0.001       0.001
carat          8887.4253     12.475    712.395      0.000    8862.973    8911.877
color_E        -205.2199     19.041    -10.778      0.000    -242.541    -167.899
color_F        -298.6426     19.230    -15.530      0.000    -336.333    -260.952
color_G        -498.5455     18.835    -26.469      0.000    -535.462    -461.629
color_H        -966.1651     20.020    -48.260      0.000   -1005.405    -926.925
color_I       -1441.4077     22.436    -64.246      0.000   -1485.382   -1397.433
color_J       -2321.3673     27.745    -83.667      0.000   -2375.749   -2266.986
clarity_IF     5421.9302     54.177    100.078      0.000    5315.743    5528.118
clarity_SI1    3570.6766     46.371     77.003      0.000    3479.789    3661.564
clarity_SI2    2616.9999     46.562     56.205      0.000    2525.739    2708.261
clarity_VS1    4534.8379     47.338     95.796      0.000    4442.054    4627.622
clarity_VS2    4217.2451     46.618     90.465      0.000    4125.874    4308.616
clarity_VVS1   5057.9347     50.124    100.908      0.000    4959.691    5156.178
clarity_VVS2   4953.8247     48.743    101.631      0.000    4858.288    5049.362
cut_Good        682.1905     34.882     19.557      0.000     613.822     750.559
cut_Ideal      1017.0669     31.786     31.997      0.000     954.765    1079.369
cut_Premium     889.2264     32.069     27.729      0.000     826.371     952.082
cut_Very Good   867.0223     32.436     26.730      0.000     803.448     930.597
==============================================================================
Omnibus:                    14077.789   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           167686.310
Skew:                           1.015   Prob(JB):                         0.00
Kurtosis:                      11.739   Cond. No.                     7.19e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.19e+05. This might indicate that there are
strong multicollinearity or other numerical problems.


The bid should be: $8,223,038.24
Our solution is: 99.91 % correct to the alteryx solution.
We have a deviation of  0.09303523027565097 %

In [21]:
# Now we use sklearn instead of statsmodel to see
# where the deviation may come from
sk_model = LinearRegression()
sk_model.fit(X,Y)

print("Intercept: ",sk_model.intercept_)
print("Coefficients: ",sk_model.coef_)

print("")
print("")
# calculate the bid
print("The bid should be:",'${:,.2f}'.format(sum(sk_model.predict(X_test))*0.7))
# how far are we from the alteryx solution
print("Our solution is:",format(sum(sk_model.predict(X_test))*0.7/8230695.69*100,'.2f'),"% correct to the alteryx solution.")
print("We have a deviation of ", (1-sum(sk_model.predict(X_test))*0.7/8230695.69)*100,"%")

# ... but we get exactly the same result

Intercept:  -7386.290940120748
Coefficients:  [ 0.00000000e+00  1.55131082e-04  8.88742535e+03 -2.05219927e+02
 -2.98642591e+02 -4.98545466e+02 -9.66165069e+02 -1.44140766e+03
 -2.32136729e+03  5.42193021e+03  3.57067660e+03  2.61699993e+03
  4.53483793e+03  4.21724514e+03  5.05793473e+03  4.95382474e+03
  6.82190490e+02  1.01706694e+03  8.89226385e+02  8.67022251e+02]


The bid should be: $8,223,038.24
Our solution is: 99.91 % correct to the alteryx solution.
We have a deviation of  0.09303523016807036 %